body {
  background: rgb(8, 39, 44);
}
.playArea {
  /* border: 1px solid red; */
  /* display: flex; */
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 456px;
  /* height: 600px; */
  margin: 50px auto;
}

.square {
  height: 150px;
  width: 150px;
  /* border: 1px solid; */
}

.x {
  background: url("img/x.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 78%;
}

.o {
  background: url("img/o.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 78%;
}

.layer {
  /* border: 2px solid blue; */
  position: absolute;
  width: 456px;
  height: 453px;
}
.playing {
  display: flex;
  background: url("img/Tic-tac-toe.png");
  background-size: cover;
  /* background-size: 100%; */
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.ready {
  background: rgba(255, 255, 255, 0.3);
  /* display: none; */
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  align-content: center;
  flex-direction: column;
}
form {
  margin-top: 35px;
  text-align: center;
  /* border: 1px solid black; */
}
.field {
  align-self: center;
  width: 200px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
button {
  /* border: 1px solid red; */
  margin-bottom: 50px;
  margin: 50px auto;
  align-self: center;
  border-radius: 5px;
  height: 40px;
  width: 200px;
}
.result {
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  display: none;
}

p {
  /* border: 1px solid black; */
  /* margin-top: 50px; */
  font-size: 25px;
  text-align: center;
}
.options {
  display: none;
  position: absolute;
  /* left: 90px; */
  top: 510px;
  left: 50%;
  /* margin: auto; */
  /* z-index: -40; */
  height: 150px;
  width: 50%;
  /* border: 2px solid yellow; */
}
.score {
  display: none;
  position: absolute;
  /* left: 90px; */
  top: 510px;
  /* margin: auto; */
  /* z-index: -40; */
  height: 150px;
  width: 50%;
  /* border: 2px solid red; */
}

.score p {
  /* border: 1px solid green; */
  /* margin-left: -200px; */

  width: 50%;
  text-align: right;
  color: white;
}
.score h3,
.options h3 {
  color: antiquewhite;
  text-align: center;
}
#computerLevel {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
#computerLevel div {
  font-size: 20px;
  color: white;
}
