.playArea {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 456px;
  /* height: 600px; */
  margin: 50px auto;
}

.square {
  height: 150px;
  width: 150px;
  border: 1px solid;
}

.x {
  background: red;
}

.o {
  background: blue;
}

.result {
  border: 2px solid blue;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  width: 456px;
  height: 453px;
  display: none;
}

p {
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}
